/**
 * Here you can overide the default style of theme.
 */

h3#comments-title, h3#reply-title, .access .menu, .access div.menu ul, #cancel-comment-reply-link, .form-allowed-tags, #site-info, #site-title, #wp-calendar, .comment-meta, .comment-body tr th, .comment-body thead th, .entry-content label, .entry-content tr th, .entry-content thead th, .entry-meta, .entry-title, .entry-utility, #respond label, .navigation, .page-title, .pingback p, .reply, .widget-title, .wp-caption-text, input[type="submit"] {
    font-family: Helvetica, sans-serif;
}

body, input, textarea, .page-title span, .pingback a.url {
    font-family: Helvetica, sans-serif;
}

body {
    background: #ffffff;
}

#wrapper {
    background-color: white;
}

#main {
    padding: 0px 0 10px 0;
    background: #ffffff;
}

#container {
    margin-bottom: 100px;
}

a:visited, a:link {
    color: green;
}

/*     Footer     *****************************************************************************************************/
#footer {
    box-shadow: 0px -3px 8px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px -3px 8px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px -3px 8px 1px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
}

#footer .footer-column {
    width: 29%;
    float: left;
    padding: 20px;
    color: #777777;
}

#footer #footer-quienes-somos.footer-column .color-line {
    border-bottom: solid rgb(225,172,2) 5px;
}

#footer #footer-colaborators.footer-column .color-line {
    border-bottom: solid rgb(65,152,153) 5px;
}

#footer #footer-contact.footer-column .color-line {
    border-bottom: solid rgb(202,34,38) 5px;
}

#footer h2 {
    text-transform: uppercase;
    border-bottom: dotted #999999 1px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#footer #friends .friend-link {
    float: left;
    margin-right: 10px;
}

#footer #friends .friend-link img {
    height: 45px;
    border: none;
}
/*     End-Footer     *************************************************************************************************/


/*     Header     *****************************************************************************************************/
#header {
    position: relative;
    padding: 0 0 0 0;
}

#access {
    background: url('../library/images/colors-ecomania.jpg') no-repeat;
}

#access a {
    border-bottom: none;
    padding: 14px 15px;
}

#access li.social_link {
    float:right;
}

#access li.social_link a {
    padding-left:30px;
    padding-right:20px;
}

#access li.social_link.twitter a {
    background:url('../library/images/twitter_icon.jpg') no-repeat 10px 50%;
}

#access li.social_link.facebook a {
    background:url('../library/images/facebook_icon.jpg') no-repeat 10px 50%;
}

#masthead {
    border-bottom: solid 5px #252E28;
}
/*     End-Header     *************************************************************************************************/

/*     Search     *****************************************************************************************************/
input.search-input {
    border: none;
    width: 200px;
    height: 25px;
    background: rgb(235,228,221) url('../library/images/search-input.jpg') no-repeat;
    background-position: 0px 2px;
    margin-left: 10px;
    position: relative;
    top: 5px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

#header .subsections {
    margin-top: 45px;
    text-transform: uppercase;
    font-size: 10px;
    color: #999;
}

#header .subsections a {
    color: #999;
    text-decoration: none;
}
/*     End-Search     *************************************************************************************************/

/*     Cajas de secciones     *****************************************************************************************/
.sectionHeader {
    padding: 10px;
}
.sectionHeader .sectionBox {
    width: 225px;
    float: left;
    margin-right: 13px;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
}

.sectionHeader .sectionBox .sectionBoxInfo {
    min-height: 250px;
    border: 5px solid white;
}

.sectionHeader .sectionBox .sectionBoxInfo .sectionBoxInfoTitle a {
    color: white;
    text-decoration: none;
}

.sectionHeader .sectionBox .sectionBoxInfo .sectionBoxInfoTitle {
    font-size: 28px;
    line-height: 28px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: rgba(0,0,0,0.5);
    padding: 12px;
    position: relative;
    top: 166px;
    min-height: 60px;
    vertical-align: baseline;
}

#tips-verdes.sectionBoxInfo {background: url('../library/images/section_tips_verdes.jpg');}
#mapa-de-reciclado.sectionBoxInfo {background: url('../library/images/section_mapa_de_reciclado.jpg');}
#directorio-verde.sectionBoxInfo {background: url('../library/images/section_directorio_verde.jpg');}
#agenda.sectionBoxInfo {background: url('../library/images/section_agenda.jpg');}
/*     End-Cajas de secciones     *************************************************************************************/


/*     Sidebar     ****************************************************************************************************/
#sidebar {
    margin-bottom: 100px;
}

.widget-container, .widget-container.ads, .widget-container.banner-mag {
    border: none;
}

.widget-container.widget_twitter {
}

.widget-container.widget_twitter div {
    padding:0;
}

.widget-container.widget_twitter ul li {
    margin-bottom:5px;
}

.widget-container.widget_twitter ul li span.entry-content a,
#twitter-2 .widget-content ul li a, #twitter-2 .widget-content ul li a:hover {
    display: inline;
    background: none;
    padding-left: 0px;
    text-transform: none;
}

.widget-container.widget_twitter .follow-button,
.widget-container.widget_twitter .xavisys-link {
    margin:0 10px 10px 25px;
}

.widget-container.widget_twitter .entry-content {
    display: block;
}

.widget-container.widget_twitter .entry-meta {
    font-size:80%;
}

.widget-container.widget_twitter span.intent-meta a,
#main .widget-content ul li a.in-reply-to,
#main .widget-content ul li a.favorite,
#main .widget-content ul li a.retweet {
    background: url('../library/images/everything-spritev2.png'); /** from Twitter ressources */
    display: inline-block;
    height: 16px;
    text-indent: -9999px;
    width: 16px;
}
.widget-container.widget_twitter .intent-meta a.in-reply-to {
    background-position: 0 center;
}
.widget-container.widget_twitter .intent-meta a:hover.in-reply-to,
#main .widget-content ul li a:hover.in-reply-to {
    background-position: -16px center;
}
.widget-container.widget_twitter .intent-meta a.favorite,
#main .widget-content ul li a.favorite {
    background-position: -32px center;
}
.widget-container.widget_twitter .intent-meta a:hover.favorite,
#main .widget-content ul li a:hover.favorite {
    background-position: -48px center;
}
.widget-container.widget_twitter .intent-meta a.retweet,
#main .widget-content ul li a.retweet {
    background-position: -80px center;
}
.widget-container.widget_twitter .intent-meta a:hover.retweet,
#main .widget-content ul li a:hover.retweet {
    background-position: -96px center;
}

/*     End-Sidebar     ************************************************************************************************/