/**
 * Here you can overide the default style of theme.
 */

h3#comments-title, h3#reply-title, .access .menu, .access div.menu ul, #cancel-comment-reply-link, .form-allowed-tags,
#site-info, #site-title, #wp-calendar, .comment-meta, .comment-body tr th, .comment-body thead th, .entry-content label,
.entry-content tr th, .entry-content thead th, .entry-meta, .entry-title, .entry-utility, #respond label, .navigation,
.page-title, .pingback p, .reply, .widget-title, .wp-caption-text, input[type="submit"], #respond input[type="text"],
#respond textarea, body, input, textarea, .page-title span, .pingback a.url, #respond input[type="submit"] {
    font-family: Helvetica, sans-serif;
}

 {
    font-family: Helvetica, sans-serif;
}

body {
    background: #F6F0E0;
}

#wrapper {
    background-color: white;
    padding: 25px;
    border: solid 1px #E0E4CC;
    margin-top: 20px
}

#main {
    padding: 0px 0 10px 0;
    background: #ffffff;
}

#container {
    margin-bottom: 100px;
}

.hentry, .post {
    border: 1px solid gainsboro;
}

#branding {
    min-height: 90px;
}

a:visited, a:link {
    color: #01BBBA;
}

a.no-decoration:visited, a.no-decoration:link {
    color: #777;
    text-decoration: none;
}

.center, img.center, #content img.center {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#friends-page img.center {
    max-width: 400px;
    border: none;
}

/*     Footer     *****************************************************************************************************/
#footer {
    /*box-shadow: 0px -3px 8px 1px rgba(0, 0, 0, 0.3);*/
    /*-moz-box-shadow: 0px -3px 8px 1px rgba(0, 0, 0, 0.3);*/
    /*-webkit-box-shadow: 0px -3px 8px 1px rgba(0, 0, 0, 0.3);*/
    border-top: solid 3px #000;
    margin-top: 20px;
    background: white;
}

#footer .footer-column {
    width: 29%;
    float: left;
    padding: 20px;
    color: #777777;
}

#footer #footer-quienes-somos.footer-column .color-line {
    border-bottom: solid #FDB934 5px;
}

#footer #footer-colaborators.footer-column .color-line {
    border-bottom: solid #01BBBA 5px;
    margin-top: 89px;
}

#footer #footer-contact.footer-column .color-line {
    border-bottom: solid #EE1C25 5px;
    margin-top: 35px;
}

#footer h2 {
    text-transform: uppercase;
    border-bottom: dotted #999999 1px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#footer #friends .friend-link {
    float: left;
    margin-right: auto;
    margin-left: auto;
}

#footer #friends .friend-link img {
    border: none;
}

#footer #friends .row1, #footer #friends .row2 {
    height: 64px;
}

#footer #friends .row2 {
    width: 560px;
    margin-left: auto;
    margin-right: auto;
}
/*     End-Footer     *************************************************************************************************/


/*     Header     *****************************************************************************************************/
#header {
    position: relative;
    padding: 0 0 0 0;
}

#header .header-links {
    display: block;
}

#header .header-links .header-link {
    float: right;
    height: 41px;
    margin-left: 5px;
}

#header .header-links .header-link.hover {
    cursor: pointer;
}

#header .header-links .header-link.link-greca {
    background: url('../library/images/header/greca.png');
    width: 45px;
}

#header .header-links .header-link.link-greca.hover {
    background-position: 44px 0px;
}

#header .header-links .header-link.link-greenbondi {
    background: url('../library/images/header/greenbondi.png');
    width: 69px;
}

#header .header-links .header-link.link-greenbondi.hover {
    background-position: 68px -1px;
}

#header .header-links .header-link.link-ecomania {
    background: url('../library/images/header/ecomania.png');
    width: 48px;
}

#header .header-links .header-link.link-ecomania.hover {
    background-position: 47px 0px;
}

#header .header-links .header-link.link-trashlove {
    background: url('../library/images/header/trashlove.png');
    width: 50px;
}

#header .header-links .header-link.link-trashlove.hover {
    background-position: 53px -1px;
}

#header .header-links img {
    float: right;
    margin-right: 3px;
}

#access {
    background: url('../library/images/colors-ecomania.jpg') no-repeat;
}

#access a {
    border-bottom: none;
    padding: 14px 15px;
}

#access li.social_link {
    float:right;
}

#access li.social_link a {
    padding-left:30px;
    padding-right:0px;
}

#access li.social_link.twitter a {
    background:url('../library/images/twitter_icon.jpg') no-repeat 10px 50%;
}

#access li.social_link.facebook a {
    background:url('../library/images/facebook_icon.jpg') no-repeat 10px 50%;
}

#access li.social_link.newsletter a {
    background:url('../library/images/mail_16x12.png') no-repeat 10px 50%;
}

#masthead {
    border-bottom: solid 5px #252E28;
}
/*     End-Header     *************************************************************************************************/

/*     Search     *****************************************************************************************************/
input.search-input {
    border: none;
    width: 250px;
    height: 25px;
    position: relative;
    top: 10px;
    background: rgb(235,228,221);
    background-position: 0px 2px;
    margin-left: 10px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

#header .subsections {
    margin-top: 45px;
    text-transform: uppercase;
    font-size: 10px;
    color: #999;
}

#header .subsections a {
    color: #999;
    text-decoration: none;
}
/*     End-Search     *************************************************************************************************/

/*     Cajas de secciones     *****************************************************************************************/
.sectionHeader {
    padding: 10px;
}
.sectionHeader .sectionBox {
    width: 225px;
    float: left;
    margin-right: 13px;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
}

.sectionHeader .sectionBox .sectionBoxInfo {
    min-height: 250px;
    border: 5px solid white;
}

.sectionHeader .sectionBox .sectionBoxInfo .sectionBoxInfoTitle a {
    color: white;
    text-decoration: none;
}

.sectionHeader .sectionBox .sectionBoxInfo .sectionBoxInfoTitle {
    font-size: 28px;
    line-height: 28px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: rgba(0,0,0,0.5);
    padding: 12px;
    position: relative;
    top: 166px;
    min-height: 60px;
    vertical-align: baseline;
}

#tips-verdes.sectionBoxInfo {background: url('../library/images/section_tips_verdes.jpg');}
#mapa-de-reciclado.sectionBoxInfo {background: url('../library/images/section_mapa_de_reciclado.jpg');}
#directorio-verde.sectionBoxInfo {background: url('../library/images/section_directorio_verde.jpg');}
#agenda.sectionBoxInfo {background: url('../library/images/section_agenda.jpg');}
/*     End-Cajas de secciones     *************************************************************************************/


/*     Sidebar     ****************************************************************************************************/
#sidebar {
    margin-bottom: 100px;
}

.widget-container, .widget-container.ads, .widget-container.banner-mag {
    border: none;
}

.widget-container.widget_twitter {
}

.widget-container.widget_twitter div {
    padding:0;
}

.widget-container.widget_twitter ul li {
    margin-bottom:5px;
}

.widget-container.widget_twitter ul li span.entry-content a,
#twitter-2 .widget-content ul li a, #twitter-2 .widget-content ul li a:hover,
.widget-container.widget_archive ul li a, #archives-2 .widget-content ul li a,
#archives-2 .widget-content ul li a:hover {
    display: inline;
    background: none;
    padding-left: 0px;
    text-transform: none;
}

#archives-2 .widget-content ul li {
   background: url("../library/images/folder_stroke_12x12.png") no-repeat;
    padding: 2px 8px 1px 8px;
}
#archives-2 .widget-content ul li a, #archives-2 .widget-content ul li a:hover {
    padding-left: 12px;
}

#archives-2 .widget-content ul li {
    padding: 2px 0;
}

.widget-container.widget_twitter .follow-button,
.widget-container.widget_twitter .xavisys-link {
    margin:0 10px 10px 25px;
}

.widget-container.widget_twitter .entry-content {
    display: block;
}

.widget-container.widget_twitter .entry-meta {
    font-size:80%;
}

.widget-container.widget_twitter span.intent-meta a,
#main .widget-content ul li a.in-reply-to,
#main .widget-content ul li a.favorite,
#main .widget-content ul li a.retweet {
    background: url('../library/images/everything-spritev2.png'); /** from Twitter ressources */
    display: inline-block;
    height: 16px;
    text-indent: -9999px;
    width: 16px;
}
.widget-container.widget_twitter .intent-meta a.in-reply-to {
    background-position: 0 center;
}
.widget-container.widget_twitter .intent-meta a:hover.in-reply-to,
#main .widget-content ul li a:hover.in-reply-to {
    background-position: -16px center;
}
.widget-container.widget_twitter .intent-meta a.favorite,
#main .widget-content ul li a.favorite {
    background-position: -32px center;
}
.widget-container.widget_twitter .intent-meta a:hover.favorite,
#main .widget-content ul li a:hover.favorite {
    background-position: -48px center;
}
.widget-container.widget_twitter .intent-meta a.retweet,
#main .widget-content ul li a.retweet {
    background-position: -80px center;
}
.widget-container.widget_twitter .intent-meta a:hover.retweet,
#main .widget-content ul li a:hover.retweet {
    background-position: -96px center;
}

#tag_cloud-2 h3.widget-title,
#twitter-2 h3.widget-title,
#archives-2 h3.widget-title {
    padding: 19px 0 18px 62px;
    text-transform: uppercase;
    font-size: 18px;
    color: white;
    text-shadow: none;
}

#twitter-2 h3.widget-title {
    background: url('../library/images/twitter_icon_white_64.png') #01BBBA;
    background-repeat: no-repeat;
    background-size: 32px;
    background-position: 10px;
}

#tag_cloud-2 h3.widget-title {
    background: url("../library/images/tag_fill_32x32.png") #EE1C25;
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 17px;
}

#archives-2 h3.widget-title {
    background: url("../library/images/folder_fill_32x32.png") #FDB934;
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 17px;
}

#twitter-2 .follow-button {
    padding: 0px;
    margin-left: 13px;
    margin-top: 6px;
    font-weight: bold;
}

.twtr-widget h3, .twtr-widget h4 {
    position: relative;
    top: -30px;
}

.twtr-hd {
    height: 35px;
}

.twtr-ft img {
    display: none;
}

#main .widget-content ul li {
    margin: 0;
    padding: 0px 8px 0px 8px;
}

/*     End-Sidebar     ************************************************************************************************/

#content table.gce-calendar {
    border: none;
}

/*     Comment form     ***********************************************************************************************/
/*     End-Comment form     *******************************************************************************************/

/*     Revista Section     ********************************************************************************************/
.csc_post_title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}
.csc_post_content {
    margin-top: 20px;
}
/*     End-Revista Section     ****************************************************************************************/

/*     Friends Page     ***********************************************************************************************/
#friends-page table, #friends-page table td {
    border: none;
}

#friends-page table td {
    padding: 0 0 10px 0;
}

#friends-page td.friend-info{
    vertical-align: middle;
    padding-left: 29px;

}

#friends-page td.friend-logo, #friends-page td.friend-logo img {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
}

#friends-page td.friend-logo {
    width: 200px;
}
/*     End-Friends Page     *******************************************************************************************/